.App {
  text-align: center;
}

.title {
  margin-top: 2%;
  margin-bottom: 2%;
}

textarea {
  white-space: normal;
  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
}
